*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore APK, DEX, and intermediate build files
*.apk
*.dex
/build/
# Ignore all intermediates folders
**/build/intermediates/

# Ignore Kotlin compilation cache
app/build/
app/build/kotlin/
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/
/app/build
/app/build/kotlin
